@media screen and (max-width:1100px){
    .hero-theme{
        font-size:7vmin;
    }
}

@media screen and (max-width:930px){
    .hero-theme{
        font-size:6vmin;
    }
}

@media screen and (max-width:575px){ 
    .end-section{
        font-size:2.6vmin;
    }
}    

