*{
  margin:0;
  padding:0;
}

span{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero-theme{
  font-size:3.5vmax;
  font-weight:600;
  text-shadow:6px 6px 4px yellowgreen;
  position:absolute;
}

.background-section img{
  height:90vh;
}

.buttons button{
  text-align:start;
}

.buttons button:active{
  background-color:rgb(41, 227, 41);
}

#contact a{
  text-decoration:none;
  color:blue;
}

#contact a:active{
  color:violet;
}

#product-card a{
  color:black;
}

#product-card button:active{
  background-color:white;
}  


.end-section{
  font-size:2vmin;
}

#market-hover{
  height:8rem;
  width:16rem;
  position:absolute;
  background-color:white;
  bottom:2rem;
  border:1px solid black;
  display:none;
}

#product-card div:hover #market-hover{
  display:block;
}

/* #plan-hover{
  height:8rem;
  width:16rem;
  opacity:0;
  position:absolute;
  top:46rem;
  right:2rem;
  border:1px solid black;
  background-color:rgba(202, 242, 255,0.8);
  transition:all 0.5s linear;
}

#design-hover{
  height:8rem;
  width:16rem;
  opacity:0;
  position:absolute;
  top:57rem;
  right:2rem;
  border:1px solid black;
  background-color:rgba(202, 242, 255,0.8);
  transition:all 0.5s linear;
}

#manufacture-hover{
  height:8rem;
  width:16rem;
  opacity:0;
  position:absolute;
  top:68rem;
  right:2rem;
  border:1px solid black;
  background-color:rgba(202, 242, 255,0.8);
  transition:all 0.5s linear;
}

#sales-hover{
  height:8rem;
  width:16rem;
  opacity:0;
  position:absolute;
  top:78.5rem;
  right:2rem;
  border:1px solid black;
  background-color:rgba(202, 242, 255,0.8);
  transition:all 0.5s linear;
}

#product-card div:hover #market-hover{
  opacity:1;
}

#product-card div:hover #plan-hover{
  opacity:1;
}

#product-card div:hover #design-hover{
  opacity:1;
}

#product-card div:hover #manufacture-hover{
  opacity:1;
}

#product-card div:hover #sales-hover{
  opacity:1;
} */