*{
  margin:0;
  padding:0;
}

span{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero-theme{
  font-size:3.5vmax;
  font-weight:600;
  text-shadow:6px 6px 4px yellowgreen;
  position:absolute;
}

.background-section img{
  height:90vh;
}
