*{
    margin:0;
    padding:0;
    color:white;
}

header{
    min-height:11vh;
    background-color:black;
}

nav{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 2rem 0 2rem;
}

a{
   text-decoration:none;
}

a:hover{
  color:blueviolet;
  transform:scale(1.1);
}

ul{
  list-style:none;
  display:flex;
}

li{
  margin-left:1.5rem;
}

#header-logo{
  padding:1rem 0 0 0;
}

#header-logo-image{
   height:3rem;  
   width:7rem;  
}

#header-list{
 display:flex;
}

#click,.icon{
  opacity:0;
}

@media screen and (max-width:770px){
 ul{
   width:100%;
   flex-direction:column;
   position:absolute;
   left:-100%;
   top:11%;
   padding:1.2rem 0 1.2rem 0;
   row-gap:2rem;
   text-align:center;
   background-color:rgb(199, 179, 179);
   transition:all 0.7s linear;
 }

 a{
  color:black;
 }

 .icon{
   opacity:1;
 }

 #click:checked ~ ul{
  left:0%;
 }

}

@media screen and (max-width:430px){
  #header-logo-image{
    height:3rem;  
    width:5rem;  
 }
}
